body{
    color:rgb(43, 39, 39);
    margin: auto;
display: flex;
    border: black solid 2px;
    flex-direction: column;
   
    align-items: center;
}
body div {
    margin: auto;
    flex-direction: column;
   
    align-items: center;
   
}
#account-form{
    border:1px inset gray;
 padding: 20px;
    flex-direction: column;
    margin: 20px;

}
.account-div{
    background-color: rgba(255, 183, 0, 0.589);
    display: flex;
  flex-direction: column;
  align-items: flex-start;
    border: rgba(0, 0, 0, 0.412) solid 4px;
    border-radius: 12px;
    margin: 1rem;
    padding: 1rem;
    min-width: 40%;
}
#user-accounts{
    width: 500px;
    min-width: 40%;
}

button{
    margin: 0.6rem;
    padding: 1em;
}
.save-withdraw,.save-dep{
    background-color: rgb(174, 238, 174);
    padding-top: 5px;
    padding-bottom: 5px;
}

.account-div button{
background-color: goldenrod;
}


.account-buttons{
   
    margin-left: 0;
    ;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.hidden{
    display:none
}
/* login token 

access token 

set up interceptor */

/* learnt about CSRF, cross site request forgery) and XSS attacks, cross site scripting */
